{% extends 'base.html' %}

{% block title %}{{ super() }} - Sign in{% endblock %}

{% block content %}
<div id="principal">
    <div id="postagens">

        <div class="postagem">
                <form action="" method="POST">
                    {{ form.csrf_token }}
                    <div>
                        <label>Email</label>
                        {{ form.email(placeholder="usuario@gmail.com") }}
                    </div>
                    <div>
                        <label>Senha</label>
                        {{ form.senha(placeholder="******") }}
                    </div>
                    <button type="submit">Enviar</button>
                </form>
        </div>

    </div>

</div>
{% endblock %}